.movies {
  margin-top: 70px;
  padding: 0 70px;
  margin-bottom: 30px;
  /* display: flex;
  flex-direction: column;*/
} 
@media screen and (max-width: 819px) {
  .movies {
    padding: 0 30px;
  }
}
@media screen and (max-width: 419px) {
  .movies {
    padding: 0 10px;
    margin-top: 40px;
  }
}
.movies__container  {
  width: 100%;
}
