.portfolio {
  padding: 0 70px;
  margin-top: 101px;
}
@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 50px;
    margin-top: 91px;
  }
}
@media screen and (max-width: 419px) {
  .portfolio {
    padding: 0 14px;
    margin-top: 70px;
  }
}
.portfolio__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #a0a0a0;
}

@media screen and (max-width: 419px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
}
.portfolio__links {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 125px;
}
@media screen and (max-width: 767px) {
  .portfolio__links {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 419px) {
  .portfolio__links {
    margin-top: 40px;
    margin-bottom: 70px;
  }
}
.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.portfolio__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: -0.04em;
  color: #000;
}
@media screen and (max-width: 767px) {
  .portfolio__text {
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 419px) {
  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }
}
.portfolio__arrow {
  max-width: 29px;
  object-fit: contain;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .portfolio__arrow {
    max-width: 27px;
  }
}
@media screen and (max-width: 419px) {
  .portfolio__arrow {
    max-width: 18px;
  }
}
.portfolio__line {
  background-color: #e8e8e8;
  width: 100%;
  height: 1px;
  margin-top: 19px;
  margin-bottom: 20px;
}
