.nav-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #fff;
  height: 66px;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}
.nav-tab__nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.nav-tab__link {
  text-decoration: underline;
  margin: 0 40px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}
.nav-tab__link:last-child {
  margin: 0;
}
@media screen and (max-width: 319px){
  .nav-tab__link{
    font-size: 11px;
    margin-right: 24px;
  }
}
.nav-tab__link:hover{
  opacity: 0.8;
}